@font-face {
	font-family: Merriweather-LightItalic;
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/Merriweather-LightItalic/Merriweather-LightItalic.eot);
	src: url(../fonts/Merriweather-LightItalic/Merriweather-LightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/Merriweather-LightItalic/Merriweather-LightItalic.woff) format("woff"), url(../fonts/Merriweather-LightItalic/Merriweather-LightItalic.ttf) format("truetype")
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700&subset=cyrillic);

@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);
